#column-1 {
    grid-column-start: span 2;
}

#column-2 {
    grid-column-start: span 1;
    background-image: url("../images/bathroom.jpeg");
    width: 450px;
    height: 250px;
    background-position: center;
    min-height: 100%;
    background-size: cover;
}

#column-6 {
    grid-column-start: span 1;
    background-image: url("../images/splash.jpg");
    width: 250px;
    height: 400px;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

#column-8 {
    grid-column-start: span 3;
}


.timeline .event:nth-child(1) {
    left: 0%;
}
.timeline .event:nth-child(2) {
    left: 10%;
}
.timeline .event:nth-child(3) {
    left: 20%;
}
.timeline .event:nth-child(4) {
    left: 30%;
}
.timeline .event:nth-child(5) {
    left: 60%;
}
.timeline .event:nth-child(6) {
    left: 100%;
}

@media screen and (max-width: 700px) {
    .timeline .event:nth-child(1) {
        top: 0%;
    }
    .timeline .event:nth-child(2) {
        top: 10%;
    }
    .timeline .event:nth-child(3) {
        top: 20%;
    }
    .timeline .event:nth-child(4) {
        top: 30%;
    }
    .timeline .event:nth-child(5) {
        top: 60%;
    }
    .timeline .event:nth-child(6) {
        top: 100%;
    }
}