#column-1 {
    grid-column-start: span 2;
}

#column-2 {
    grid-column-start: span 1;
    background-image: url("../images/hero.jpg");
    width: 300px;
    height: 300px;
}

#column-3 {
    grid-column-start: span 1;
    background-image: url("../images/hero.jpg");
    width: 300px;
    height:300px;
}

#column-5 {
    grid-column-start: span 1;
    background-image: url("../images/hero.jpg");
    width: 300px;
    height: 300px;
}

#column-6 {
    grid-column-start: span 1;
    background-image: url("../images/hero.jpg");
    width: 300px;
    height: 300px;
}